/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/hicar -profile test,<conda/docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = '6.GB'
  max_time = '8.h'

  // Input data
  input = 'https://raw.githubusercontent.com/jianhong/hicar_tools/main/assets/design.csv'

  // Genome References
  genome = 'GRCh37'
  mappability = 'https://raw.githubusercontent.com/jianhong/hicar_tools/main/assets/test/wgEncodeCrgMapabilityAlign50mer.chr22.bigWig'
}
